In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [4]:
n_rows = 10
n_cols = 1
cols= ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size = (n_rows, n_cols)), 
                  columns = cols)
df

   usia
0    86
1    57
2    67
3    57
4     8
5    82
6    73
7    98
8    78
9    73

In [5]:
df['kelompok usia'] = pd.cut(df['usia'],
                            bins =[0, 18, 65, 99],
                            labels = ['anak','dewasa','manula'])
df

   usia kelompok usia
0    86        manula
1    57        dewasa
2    67        manula
3    57        dewasa
4     8          anak
5    82        manula
6    73        manula
7    98        manula
8    78        manula
9    73        manula